/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  padding: 0;
  margin: 0;
}
h1, h2, h3 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 1200px;
  margin: 0 auto;
  transition: .3s;
}
li { 
  list-style: none;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
}
.wrapperLeft, .wrapperRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 400px;
}
.wrapperProfile > div {
  border: 1px solid #000000;
  -webkit-box-shadow: 8px 10px 10px 0px rgb(34 60 80 / 40%);
  -moz-box-shadow: 8px 10px 10px 0px rgba(34, 60, 80, 0.4);
  box-shadow: 8px 10px 10px 0px rgb(34 60 80 / 40%);
  border-radius: 20px;
  background: #fff;
  border-radius: 8px;
  padding: 15px;
}
.wrapperLeft > div, .wrapperRight > div {
  border: 1px solid #000000;
  -webkit-box-shadow: 8px 10px 10px 0px rgba(34, 60, 80, 0.4);
  -moz-box-shadow: 8px 10px 10px 0px rgba(34, 60, 80, 0.4);
  box-shadow: 8px 10px 10px 0px rgba(34, 60, 80, 0.4);
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  padding: 15px;
  background: #fff;
}
#profile {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
  }
.header {
    background-color: #1e343cb9;
}
.wrapperHeader {
  max-width: 1000px;
  margin: 0 auto;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.wrapperProfile {
  max-width: 1000px;
  padding: 0px 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.nav-list {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 3%;
  }
  html {
    scroll-behavior: smooth; 
  }
  .nav-link {
    font-size: 18px;
    transition: .3s;
    text-decoration: none;
    color: #f2f2f2;
  }
  #projects > ul > li, #courses > ul > li {
    list-style-type: '👉';
    margin-left: 27px;
    margin-bottom: 3px;
  }
  #skills > ul > li::before {
    content: '✔';
    margin-right: 3px;
    color: rgb(0, 117, 45);
  }
  .nav-item a:hover, .nav-item a:focus, .nav-item a:active {
    font-size: 19px;
    margin: 0 -2px;
    color: rgb(252, 201, 120);
    text-shadow:1px 1px 2px rgba(253, 216, 155, 0.7);
  }
  .onlineZooText {
    margin-top: 5px;
    transition: .3s;
    opacity: 0;
    display: none;
  }
  a:hover + .onlineZooText {
    display: block;
    opacity: 1;
    transform: scale(1)
  }
  .coursesLink, .projectsLink {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
  }
  .coursesLink:hover, .coursesLink:focus, .coursesLink:active, .projectsLink:hover, .projectsLink:focus, .projectsLink:active {
    font-size: 21px;
    text-shadow:2px 2px 4px #000000;
  }
  section h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 5px;
  }
  div h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 5px; 
  }
  .nameUniver {
    margin-bottom: 5px;
    font-weight: 600;
  }
  .subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    text-align: center;
  }
  .section {
    width: 100%;
    background: url('../img/svg/Klen1.svg') no-repeat;
    background-size: cover;
  }
.avatar {
    background:#fff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-box-shadow: 8px 10px 10px 0px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 8px 10px 10px 0px rgba(34, 60, 80, 0.4);
    box-shadow: 8px 10px 10px 0px rgba(34, 60, 80, 0.4);
    border: 2px solid rgba(34, 60, 80, 1);
    object-fit: contain;
    object-position: 50% 50%;
  }
  .WrapperContainer {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    margin: 0 auto;
    max-width: 1000px;
    padding-bottom: 30px;
    gap: 5px;
  }
  .gitLink {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: url(../img/svg/github.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: .3s;
    border-radius: 50%;
  }
  .gitLink:hover, .gitLink:focus, .gitLink:active {
    transform: scale(1.3);
    border: 1px solid #fff;
    -moz-box-shadow:10px 10px 25px #333333;
    -webkit-box-shadow:10px 10px 25px #333333;
    box-shadow:10px 10px 25px #333333;
  }
  .footer {
    background-color: #1e343cb9;
    padding: 20px;  
  }
  .footerWrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .gitLink a {
    display: block;
    text-align: center;
    height: 100%;
  }
  .main-container {
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(90deg, #fab397, #faf0cd);
  }
  .codewarsLink {
    background-image: url(https://www.codewars.com/users/Aurtekh/badges/large);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 40px;
    transition: .3s;
  }
  .codewarsLink:hover {
    -webkit-box-shadow: 8px 10px 10px 0px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 8px 10px 10px 0px rgba(34, 60, 80, 0.4);
    box-shadow: 8px 10px 10px 0px rgba(34, 60, 80, 0.4);
    transform: scale(1.03);
  }
  .codewarsLink a {
    display: block;
    text-align: center;
    height: 100%;
  }
  .contactsList > li::before {
    margin-right: 3px;
    content: '\2709';
  }
.contactsList > li:last-child::before {
  margin-right: 3px;
  content: '\260E';
}
.contactsList > li:first-child::before {
  margin-right: 3px;
  content: '\1F3DB';
}

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
    .wrapperProfile > div {
      padding: 5px;
    }
  }
  @media (max-width: 805px) {
    .WrapperContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      max-width: 700px;
      gap: 30px;
      padding-bottom: 30px;
    }
  }
  @media (max-width: 581px) {
    .avatar {
      width: 150px;
      height: 150px;
    }
    .codewarsLink {
      background-image: url(https://www.codewars.com/users/Aurtekh/badges/small);
      background-repeat: no-repeat;
      background-size: contain;
      width: 300px;
      height: 20px;
    }
    .gitLink {
      width: 20px;
      height: 20px;
      background: url(../img/svg/github.svg);
      background-size: cover;
  }
  section h1 {
    font-size: 30px;
  }
  .subtitle {
    font-size: 22px;
  }
}
  @media (max-width: 401px) {
    .avatar {
      width: 100px;
      height: 100px;
    }
    .wrapperLeft, .wrapperRight {
      max-width: 300px;
    }
    section h1 {
      font-size: 24px;
    }
    .subtitle {
      font-size: 16px;
    }
    .codewarsLink {
      background-image: url(https://www.codewars.com/users/Aurtekh/badges/micro);
      background-repeat: no-repeat;
      background-size: contain;
      width: 100px;
      height: 18px;
    }
}